# Data Preparatopn

## Open and format the data

In [122]:
import pandas as pd 

ratings = pd.read_csv('ratings.dat', sep="::", names=['userid', 'movieid', 'rating', 'timestamp'])

<ipython-input-122-a16724f3c884>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('ratings.dat', sep="::", names=['userid', 'movieid', 'rating', 'timestamp'])

In [61]:
ratings.head(4)

   userid  movieid  rating  timestamp
0       1      122     5.0  838985046
1       1      185     5.0  838983525
2       1      231     5.0  838983392
3       1      292     5.0  838983421

In [10]:
movies = pd.read_csv('movies.dat', sep="::", names=['movieid', 'title', 'genres'])

<ipython-input-10-c4258a627bdc>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv('movies.dat', sep="::", names=['movieid', 'title', 'genres'])

In [12]:
movies.head(4)

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance

## Join the two tables

In [123]:
MovieLens= movies.merge(ratings,how='inner', on='movieid')

In [124]:
MovieLens

,movieid,title,genres,userid,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,1.0,857911264
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,3.0,1133572007
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.0,1111545931
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,23,5.0,849543482
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,24,5.0,868254237
...,...,...,...,...,...,...
10000049,65133,Blackadder Back & Forth (1999),Comedy,24495,4.0,1231081348
10000050,65133,Blackadder Back & Forth (1999),Comedy,33384,3.0,1231034528
10000051,65133,Blackadder Back & Forth (1999),Comedy,40570,2.0,1231055397
10000052,65133,Blackadder Back & Forth (1999),Comedy,45430,2.5,1231105425
10000053,65133,Blackadder Back & Forth (1999),Comedy,68151,5.0,1231129793

## Find the rows in the MovieLens

In [125]:
MovieLens.shape

(10000054, 6)

In [126]:
MovieLens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000054 entries, 0 to 10000053
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   movieid    int64
 1   title      object
 2   genres     object
 3   userid     int64
 4   rating     float64
 5   timestamp  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 534.1+ MB

## How many columns are in the MovieLens Dataset

In [127]:
len(MovieLens.columns)

6

## How many zeros are given as a rating

In [129]:
len(MovieLens[MovieLens["rating"] == 0])

0

## How many threes are given as a rating

In [130]:
len(MovieLens[MovieLens["rating"] == 3])

2356676

## Find the number of different movies

In [134]:
len(MovieLens['title'].unique())

10676

## Find how many different users are in the dataset

In [135]:
len(MovieLens['userid'].unique())

69878

## How many movies are in the different genres

In [137]:
len(MovieLens[MovieLens["genres"] == "Drama"])

815084

In [139]:
len(MovieLens[MovieLens["genres"] == "Comedy"])

778596

In [138]:
len(MovieLens[MovieLens["genres"] == "Thriller"])

105274

In [140]:
len(MovieLens[MovieLens["genres"] == "Romance"])

9355

## The Movies with most ratings

In [141]:
MovieLens.groupby('title').size().sort_values(ascending=False).head(1)

title
Pulp Fiction (1994)    34864
dtype: int64

## Five most given ratings

In [142]:
MovieLens['rating'].value_counts().head(5)

4.0    2875850
3.0    2356676
5.0    1544812
3.5     879764
2.0     790306
Name: rating, dtype: int64

## Whole star vs half star ratings

In [147]:
MovieLens['rating_type'] = MovieLens['rating'].apply(lambda x: 'whole' if x == int(x) else 'half')
ratings_counts = MovieLens.groupby('rating_type')['rating'].count()

num_whole_ratings = ratings_counts['whole']
num_half_ratings = ratings_counts['half']

In [148]:
num_whole_ratings

7951824

In [149]:
num_half_ratings

2048230